/* Only Chrome */

html::-webkit-scrollbar-thumb {
  background-color: #0064a7;

  border: 1px solid #8ea5b5;
}
html::-webkit-scrollbar-track {
  background-color: #8ea5b5;
}
::-webkit-scrollbar-button {
  background-color: #8ea5b5;
}
/* Only IE */
html {
  scrollbar-face-color: #0064a7;
  scrollbar-shadow-color: #8ea5b5;
  scrollbar-highlight-color: #8ea5b5;
}
/* Only FireFox */
html {
  scrollbar-color: #0064a7 #8ea5b5;
}
/* View Scrollbar */
html {
  overflow-x: scroll;
}
